div {
    width: 400px;
    height: 200px;
    border: 40px dashed red;
    margin: 20px auto;
    background-image: url(bmw.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.one {
    box-sizing: border-box;
}